---
layout: home
title: Discover
---
<!-- {% raw %} -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div ng-app="app" ng-controller="ctrl">
  <p>Discovered items:</p>
  <p><input type="text" ng-model="search" /></p>
  <ul>
    <li ng-repeat="item in discoveredItems | filter:search">
      {{ item }}
    </li>
  </ul>
</div>

<script>
  var app = angular.module("app", []);
  app.controller("ctrl", function($scope) {
    $scope.allItems = [
      "earth",
      "energy",
      "earthquake",
      "airplane",
      "boots",
      "rubber",
      "cloth",
      "umbrella",
      "metal",
      "stone",
      "plasma"
    ];
    $scope.discoveredItems = [
      "earth",
      "rubber",
      "cloth",
      "metal",
      "stone",
      "energy"
    ];
    $scope.search = "";
  });
</script>

<!-- {% endraw %} -->
