---
layout: home
title: Discover
---
<!-- {% raw %} -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div ng-app="app" ng-controller="ctrl">
  <p>Discovered items:</p>
  <p><input type="text" ng-model="search" /></p>
  <ul>
    <li ng-repeat="item in discoveredItems | filter:search">
      {{ item }}
    </li>
  </ul>
</div>

<script>
  var app = angular.module("app", []);
  app.controller("ctrl", function($scope) {
    $scope.allItems = [
      "air", // Discovered
      "earth", // Discovered
      "energy", // Discovered
      "earthquake", // earth + energy
      "airplane", // air + metal
      "boots", // rubber + cloth
      "rubber", // Discovered
      "cloth", // Discovered
      "umbrella", // cloth + metal
      "metal", // Discovered
      "stone", // Discovered
      "plasma", // stone + stone
      "DNA", // Discovered
      "muscle", // energy + DNA
      "human" // muscle + DNA
    ];
    $scope.discoveredItems = [
      "earth",
      "rubber",
      "cloth",
      "metal",
      "stone",
      "energy",
      "DNA",
      "air"
    ];
    $scope.search = "";
    $scope.equationsForItems = {
      "stone + stone": "plasma",
      "earth + energy": "earthquake",
      "energy + DNA": "muscle",
      "rubber + cloth": "boots",
      "muscle + DNA": "human",
      "air + metal": "airplane",
      "cloth + metal": "umbrella"
    };
  });
</script>

<!-- {% endraw %} -->
